{% load staticfiles %}
<html>
    <head>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/controlStock.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <div>
          <h1><a href="/">Fresenius</a><Ch1>
    </div>

  </head>


    <body>
          {% for componente in componentes %}
          <div>
              <p>part #:<h4><a href="">{{ componente.PartNum }}</h4></a></p>
              <p>{{ componente.Price }}</p>
              <p>{{ componente.Stock }}</p>
              <p>{{ componente.Description|linebreaksbr }}</p>
          </div>
          {% endfor %}




          {% block content %}

          <div class="panel panel-default">
            <div class="panel-heading">Existing Parts</div>
            <div class="panel-body">
              {{ list_pager|safe }}
              <ul>
                {% for componente in componentes %}
                <li>{{ part.html_link|safe }}:
          	{% if componente.val %}
          	{{ part.Price }}
          	{% else %}
          	{{ componente.Description }}
          	{% endif %}
          	({{ componente.Stock }} {{ componente.Stock }},

                </li>
                {% endfor %}
              </ul>
              {{ list_pager|safe }}
            </div>
          </div>
          {% endblock content %}





    </body>
</html>
